/* header css */

:root {
    --bg-top-header: #f6f6f6;
    --bg-info-header: #1D1A1B;
    --bg-bottom-header: #2a2a2a;
    --content-primary: #2a2a2a;
    --content-secondary: #fff;
    --content-tertiary: #23499f;
    --border-primary: #d9d9d9;

    --bg-button-secondary: #23499f;
    --bg-footer: #e8e8e8;
    --cerulean: #0497d8;
    --negative-1: #d9222a;
    --rectangle: #4aa46e;
    --primary-d-1: #23499f;
}

.header__top {
    background-color: var(--bg-top-header);
    height: 43px;
    align-items: center;
    display: flex;
}

.header__contact {
    display: flex;
    align-items: center;
}

.header__contact-item {
    display: flex;
}

.contact-item-icon {
    margin-right: 7px;
}

.header__contact-item+.header__contact-item {
    margin-left: 40px;
}

.contact-item-content {
    color: var(--content-primary);
    font-size: 14px;
}

.contact-item-content a {
    color: var(--content-tertiary);
    text-decoration: none;
    font-weight: 600;
}

.header__action {}

.header__info {
    padding: 24px 0;
}

.header__action ul {
    list-style: none;
    display: flex;
    justify-content: end;
}

.header__action ul li {
    margin-left: 30px;
    font-weight: 600;
    color: var(--content-secondary);
}

.header__info-right {
    display: flex;
}

.header__info-right .search {
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    border: 2px solid var(--border-primary);
    height: 48px;
    border-radius: 8px;
}

.search-icon {
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-40%);
}

.header__info-right .search input {
    flex: 1;
    height: 100%;
    font-size: 15px;
    color: #505050;
    margin-left: 40px;
    margin-right: 108px;
}

.search button {
    position: absolute;
    right: -2px;
    width: 104px;
    height: 48px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 14px;
    background-color: var(--bg-button-secondary);
    color: var(--content-secondary);
    font-weight: 600;
}

.box__car {
    display: flex;
    width: 50%;
    align-items: center;
}

.header__car {
    width: 60%;
    justify-content: center;
}

.header__hotline {
    width: 40%;
    justify-content: end;
}

.header__car,
.header__hotline {
    display: flex;
    align-items: center;
}

.header__car-info {
    margin-left: 10px;
}

.header__car-info span {
    font-size: 14px;
    font-weight: 600;
    color: #505050;
}

.header__car-info h6 {
    font-size: 22px;
    color: #505050;
    line-height: 16px;
}

.header__hotline span {
    font-size: 20px;
    line-height: 16px;
    color: #505050;
}


.header__bottom {
    background-color: var(--bg-bottom-header);
}

.header__bottom-left .main-menu {}

.header__bottom-left .main-menu nav ul {
    display: flex;
    list-style: none;
    font-size: 14px;
    font-weight: 600;
}

.header__bottom-left .main-menu nav ul li {
    display: inline-block;
}

.header__bottom-left .main-menu nav ul li a {

    color: var(--content-secondary);
    display: block;
    padding: 14px 40px;
}

.header__bottom-right {}

.box-card {
    display: flex;
}

.box-card-item {
    padding: 12px 24px;
    display: flex;
    align-items: center;
}

.box-card-item strong {
    color: var(--content-secondary);
    font-size: 14px;
    margin-left: 8px;
}

.box-card-item span {
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 27px;
    border-radius: 100%;
    background-color: #0497d8;
    color: var(--content-secondary);
    font-size: 14px;
    font-weight: 600;
}

.footer__area {
    background-color: var(--bg-footer);
    padding: 70px 0;
}

.footer__logo .footer__descriptions {
    font-size: 15px;
    color: #505050;
    line-height: 1.2;
    letter-spacing: normal;
}

.fotter__socials {
    display: flex;
    justify-content: end;
    gap: 13px;
}

.fotter__socials span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #888888;
    width: 43px;
    height: 43px;
    border-radius: 50%;
}

.footer__widket-title {
    font-size: 16px;
    color: #2a2a2a;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.footer__widket-content ul {
    list-style: none;
}

.footer__widket-content ul li a {
    font-size: 15px;
    text-decoration: none;
    color: #505050;
    display: block;
    padding: 6px 0;
}

.footer__coppyright-phone {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__coppyright-phone img {
    width: 24px;
    height: 24px;
}

.footer__coppyright-phone h4 {
    font-size: 28px;
    color: #2a2a2a;
}

.footer__coppyright-title {
    font-size: 12px;
    color: #888888;
}

.footer__payment {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.footer__payment-box {
    display: flex;
    gap: 10px;
}

.footer__payment-box a {
    background: #fff;
    padding: 4px 20px;
    border-radius: 10px;
    border: solid 1px #7d8a96;
}

.footer__payment-box a img {
    height: 13px;
}

.breadcrumb__wrapper {
    list-style: none;
    display: flex;

}

.breadcrumd__wrapper {}

.breadcrumb-item {
    font-size: 12px;
    color: #888888;
    display: flex;
    align-items: center;
    padding: 25px 0;
}

.breadcrumb.active {
    color: #fcb700;
}

.breadcrumb-item {
    padding-right: 5px;

}

.breadcrumb-item+.breadcrumb-item::before {
    content: var(--bs-breadcrumb-divider, ">");
    float: left;
    padding-right: 5px;
}

.selection__heading h2 {
    font-size: 42px;
    color: #2a2a2a;
    text-align: center;
}

.selection__tappant {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.selection__tappant li {
    font-size: 26px;
    padding: 10px 12px;
    font-weight: 600;
    color: #505050;
    cursor: pointer;
}

.selection__tappant li.selection__tappant--active {
    color: #0497d8;
    border-bottom: 3px solid #0497d8;
}

.selection__slider1-title {
    color: #505050;
    font-size: 18px;
    text-align: center;
    padding: 30px 0;
}

.carousel-cell-box {
    width: 24%;
    margin-right: 24px;
    height: 264px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selection__slider2 .carousel-cell-box {
    width: 15%;
}

.selection__slider2 .carousel-cell-box {
    height: 216px;
}

.selection__slider2 .carousel-cell-box.slider2-carousel-cell--active {
    border: 1px solid #1d57d9;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.slider1-carousel-cell--active {
    border: 1px solid #1d57d9;
}

.carousel-cell-box h3 {
    margin-top: 5%;
    margin-left: 2.5%;
}

.slider1-carousel-cell {
    margin: 0 auto;
    width: 95%;
    height: 80%;
    counter-increment: carousel-cell;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cerulean {
    background-color: var(--cerulean);
}

.negative {
    background-color: var(--negative-1);
}

.rectangle {
    background-color: var(--rectangle);
}

.primary-d-1 {
    background-color: var(--primary-d-1);
}

.gray-1 {
    background-color: #EBEBEB;
}

.flickity-prev-next-button.previous {
    left: -40px !important;
}

.flickity-prev-next-button.next {
    right: -40px !important;
}

.flickity-prev-next-button .flickity-button-icon {
    top: -18px !important;
}

.flickity-button {
    background-color: transparent !important;
}

.selection__slider1 {
    padding: 20px 0;
}

.selection__slider2 {
    padding: 70px 0;
}

.selection__slider2 .btn {
    display: flex;
    margin: 40px auto;
    font-size: 18px;
    padding: 10px 50px;
    color: #fff;
    background-color: #0497d8;
    border-radius: 10px;
    cursor: pointer;
}

.selection__slider2-footer {
    text-align: center;
    color: #505050;
    font-size: 15px;
}

.selection__slider2-footer a {
    color: #0497d8;
    font-weight: 600;
}

.subcribe__area {
    background-color: var(--bg-bottom-header);
}

.subcribe__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.subcribe__wrapper p,
.subcribe__wrapper h2 {
    color: var(--content-secondary);
}

.subcribe__wrapper h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

.subcribe__wrapper p {
    font-size: 18px;
    margin-bottom: 25px;
    font-weight: 400;
}

.subcribe__wrapper .form-control {
    font-size: 15px;
    line-height: 18px;
    color: #888888;
    padding: 13px 14px;
    border-radius: 10px;
}

.subcribe__wrapper form .form-control:nth-child(3) {
    width: 330px;
}

.subcribe__wrapper .submit-btn {
    padding: 13px 40px;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #0497d8;
}