@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

:root {
    --text-color-white: #fff;
    --text-color-primary: #353966;
    --text-color-secondary: #8d7989;
    --border-primary: #dedede;
    --bg-header: #221d1e;
    --border-color: #22b795;
    --bg-white: #fff;
}

.main {
    width: 100%;
    height: 8rem;
    background-color: var(--bg-header);
    color: #fff;
    max-height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.icon-phone {
    margin: 0 26px;
}





.nav__left ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 13.5px;
    font-weight: 400;
    font-style: normal;
}

.nav__left ul .active::after {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--border-color);
    width: 100%;
    height: 0.3rem;
    bottom: 0;
}

.burger-icon {
    display: none;
}

.icon-search {
    display: none;
}

.nav__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-search {
    display: flex;
    border-bottom: 2px solid #6f6d6e;
    padding-bottom: 5px;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.nav-search svg {
    margin-right: 0.4rem;
}

.nav-search input {
    border: none;
    background: transparent;
    color: #6f6d6e;
    font-size: 1.4rem;
    font-weight: 600;
}

.slider__area .slider__area-box {
    position: relative;
    width: 100%;
    overflow: hidden;
}


.slider__area .slider__area-box {
    background-image: url("../images/slider/image.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.slider__area .slider__area-box h1 {
    position: relative;
    text-transform: uppercase;
    color: var(--text-color-white);
    font-size: 3rem;
    font-size: 38px;
}

.content__area {
    width: 1140px;
    max-width: 100%;
    margin: 4rem auto;
}

.content__area-box {
    display: flex;
}

.content__area-box .box-left {
    width: 34rem;
}

.box-left .nav-bar {
    width: 80%;
    list-style: none;
    border: 1px solid var(--border-primary);
}

.nav-bar .nav-bar-item {
    padding: 0 1.6rem;
}

.nav-bar .nav-bar-item>a {
    text-decoration: none;
    padding: 1.5rem 0;
    display: block;
    color: var(--text-color-primary);
    font-weight: 600;
}

.nav-bar .nav-bar-item a {
    border-bottom: 1px solid var(--border-primary);
}

.border__bottom {
    border-bottom: unset !important;
}

.nav-bar .nav-bar-item.active a {
    color: #22b795;
}

.content__area-box .box-right {
    flex: 1;
}

.box-right .content {
    margin-bottom: 1.6rem;
}

.descriptions {
    margin-bottom: 1rem;
    font-size: 14px;
    line-height: 19px;
    color: var(--text-color-secondary);
    line-height: calc(20 / 15);
}

.box-right a {
    display: block;
    padding: 1.2rem 2.4rem;
    border-radius: 0.4rem;
    background: #22b795;
    color: #fff;
    font-size: 1.6rem;
    line-height: calc(24 / 16);
    width: 9rem;
}

.slider__area .slider__area-box h1 {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .nav__left ul {
        display: flex;
        align-items: center;
    }

    .nav__left ul li {
        list-style-type: none;
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-right: 2.4rem;
    }

    .box-left label {
        display: none;
    }

    .box-left input {
        display: none;
    }

    .slider__area .slider__area-box h1 {
        padding: 116px 15px;
    }

    .posi {
        display: none !important;
    }

}


@media screen and (max-width: 767px) {
    .main {
        height: 5rem;
    }

    .main .nav__left {
        margin-left: 16px;
    }

    .main .nav__right {
        margin-right: 16px;
    }

    .nav__left-list {
        list-style: none;

        display: none;
    }

    .nav__left-list li {
        position: relative;
    }

    .nav__left-list li a {
        padding: 1.2rem 1rem;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .drop-down {
        display: none !important;
    }

    .hiden-nav {
        display: block;
    }


    .slider__area .slider__area-box h1 {
        font-size: 16px;
        padding: 55px 16px;
    }

    .nav__left {
        display: flex;
    }

    .icon-cancel {
        visibility: hidden;
    }

    .burger-icon {
        margin-right: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .burger-icon,
    .icon-search {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-search {
        display: none;
    }

    .content__area-box {
        flex-direction: column;
        padding-right: 16px;
        padding-left: 16px;
    }

    .content__area-box .box-left {
        flex: 1;
        width: 100%;
    }

    .nav__left ul {
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 5rem;
        background-color: var(--bg-header);
        width: 100%;
        z-index: 99;
    }

    .nav__left ul li {
        overflow: hidden;
        height: 4rem;
    }

    .box-left label>span {
        color: var(--text-color-primary);
        font-family: sans-serif !important;
        border-top: 1px solid var(--border-primary);
        border-left: 1px solid var(--border-primary);
        border-right: 1px solid var(--border-primary);

        font-size: 1.2em;
        padding: 0.8rem 1.6rem;
        border-radius: 4px;
        font-variant: small-caps;
        cursor: pointer;
        display: block;
        position: relative;
    }

    .box-left label {
        position: relative;
    }

    .box-left .nav-bar {
        position: absolute;
        margin-bottom: 2.4rem;
        clear: both;
        height: 0px;
        overflow: hidden;
        transition: height 0.4s ease;
        border-bottom: 1px solid transparent;
        background-color: var(--bg-white);
        width: calc(100% - 34px);
    }

    #touch {
        position: absolute;
        opacity: 0;
        height: 0px;
    }

    #touch:checked+.nav-bar {
        width: calc(100% - 34px);

        height: 280px;
        border-bottom: 1px solid var(--border-primary);
    }

    .posi {
        position: absolute;
        top: 36%;
        right: 4%;
    }

    .rotates {
        transform: rotate(45deg);
    }

    .box-right {
        margin-top: 1.6rem;
    }

    .box-right a {
        width: unset;
        text-align: center;
    }

    .content__area {
        margin-top: 12px;
    }

    span::after {
        float: right;
        right: 10%;
        content: "+";
    }
}

/* Cutom checkbox radio */
.flex {
    display: flex;
}


.input__form [type="checkbox"]:checked,
.input__form [type="checkbox"]:not(:checked) {
    position: absolute;
    left: -99px;
    width: 0;
}

.input__form [type="checkbox"]:checked+label,
.input__form [type="checkbox"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

.input__form [type="checkbox"]:checked+label:before,
.input__form [type="checkbox"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    border: 2px solid #dedede;
    border-radius: 4px;
    background: #fff;
}

.input__form [type="checkbox"]:checked+label:before {
    border-color: #00A7E1;
}

.input__form [type="checkbox"]:checked+label:after {

    content: '';
    position: absolute;
    left: 8.5px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #00A7E1;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*  */
.input__form [type="radio"]:checked,
.input__form [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.input__form [type="radio"]:checked+label,
.input__form [type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

.input__form [type="radio"]:checked+label:before,
.input__form [type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    border: 2px solid #dedede;
    border-radius: 100%;
    background: #fff;
}

.input__form [type="radio"]:checked+label:before {
    border-color: #00A7E1;
}

.input__form [type="radio"]:checked+label:after,
.input__form [type="radio"]:not(:checked)+label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #00A7E1;
    position: absolute;
    top: 7px;
    left: 7px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.input__form [type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.input__form [type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


.checkbox-custom-1 {
    position: relative;
    background-color: transparent;
    display: block;
}

.checkbox-custom-1 label.containerLabel {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    padding-left: 0px;
    cursor: pointer;
    margin-bottom: 0;
    user-select: none;
    background-color: transparent;
}

.checkbox-custom-1 .containerLabel .text {
    padding-left: 30px;
}

.checkbox-custom-1 .containerLabel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-custom-1 .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #fff;
    border: 2px solid #dedede;
    border-radius: 4px;
    display: flex;
}

.checkbox-custom-1 .containerLabel input:checked~.checkmark {
    border-radius: 4px;
    border-color: #00A7E1;

}

.checkbox-custom-1 .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-custom-1 .containerLabel input:checked~.checkmark:after {
    display: block;
}

.checkbox-custom-1 .containerLabel .checkmark:after {
    left: 7.5px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #00A7E1;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.radio-custom-1 {
    position: relative;
    background-color: transparent;
    display: block;
}

.radio-custom-1 label.containerLabel {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    padding-left: 0px;
    cursor: pointer;
    margin-bottom: 0;
    user-select: none;
    background-color: transparent;
}

.radio-custom-1 .containerLabel .text {
    padding-left: 30px;
}

.radio-custom-1 .containerLabel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.radio-custom-1 .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #fff;
    border: 2px solid #dedede;
    border-radius: 50%;
    display: flex;
}

.radio-custom-1 .containerLabel input:checked~.checkmark {
    border-radius: 50%;
    border-color: #00A7E1;
}

.radio-custom-1 .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-custom-1 .containerLabel input:checked~.checkmark:after {
    display: block;
}

.radio-custom-1 .containerLabel .checkmark:after {
    left: 4.5px;
    border-radius: 50%;
    top: 4.5px;
    width: 12px;
    height: 12px;
    background-color: #00A7E1;
}

.main__input__email {
    margin-top: 50px;
    position: relative;
}

.input-email,
.input-email_border {
    border-radius: 5px;
    height: 20px;
    border: 1.5px solid gray;
    position: relative;
    padding: 7px;
}

.input-email:focus {
    border-color: rgb(22, 22, 22);
}

.email__adress,
.email__adress_err {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    user-select: none;
    color: #999;
    pointer-events: none;
    transition: 0.25s ease
}

.main__input__email__err {
    margin-top: 50px;
    position: relative;

}

.input-email:not(:placeholder-shown)+.email__adress {
    color: #999;
    top: 0;
    background-color: white;
}

.input-email:not(:placeholder-shown)+.email__adress_err {
    color: #999;
    top: 0;
    background-color: white;
}

.input-email:focus+.email__adress {
    top: 0;
    background-color: white;
    color: rgb(22, 22, 22);
}

.input-email:focus+.email__adress_err {
    top: 0;
    background-color: white;
    color: rgb(22, 22, 22);
}

.show__error {
    position: absolute;
    left: 1px;
    top: 40px;
    color: red;
    opacity: 0;
}

.input-email:invalid:not(:focus):not(:placeholder-shown)+.show__error {
    opacity: 0;
}

.input-email:invalid:focus:not(:placeholder-shown)~.show__error {
    opacity: 1;
}

.input-email:invalid:focus:not(:placeholder-shown)~.email__adress_err {
    color: red;
}

.input-email:invalid:not(:placeholder-shown)~.email__adress_err {
    color: red;
}

.input-email:invalid:focus:not(:placeholder-shown) {
    border-color: red;
}

.input-email:invalid:not(:placeholder-shown) {
    border-color: red;
}

.input-email:invalid:not(:placeholder-shown)~.show__error {
    opacity: 1;

}

#input-email_border:focus {
    border-color: #00A7E1;
    border: 2.5px solid rgb(74, 19, 226);
}